<div class="center jumbotron">
  <h1>Welcome to Rig</h1>

  <h2>
    A blog about building things, coffee, the outdoors and more
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="admin-links">
    <%= link_to "create post", new_post_path %>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="posts">
      <%= render 'shared/posts' %>
    </div>
  </div>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %> -->
