<li id="comment-<%= comment.id %>">
  <div class="row-fluid">
      <div class="text-sm-right col-sm-4">
        <div class="author">
          <% @author = User.find_by(id: comment.user_id) %>
          <% if @author %>
            <%= link_to @author.name, user_path(comment.user_id) %>
          <% else %>
            <span class="missing_user">user deleted</span>
          <% end %>

        </div>
        <div class="timestamp">
          <%= time_ago_in_words(comment.created_at).gsub('about','') %> ago
        </div>
      </div>
      <div class="col-sm-8">
        <%= simple_format comment.body %>
      </div>
  </div>
</li>
