<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save') %>
<div class="container-fluid">
  <h1>Edit your profile</h1>

  <div class="form centered">
    <%= render 'form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
    <div class="float-right text-right">
      <%= link_to "delete account", @user, method: :delete, data: {confirm: "You Sure?"} %>
    </div>
  </div>
</div>
