<% provide(:title, 'Users') %>
<h1>Users</h1>

<div class="pagination">
  <%= will_paginate %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="users">
      <%= render @users %>
    </ul>
  </div>
</div>

<div class="pagination">
  <%= will_paginate %>
</div>
