<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create your account') %>
<h1>Sign up</h1>

<div class="form centered">
  <%= render 'form' %>
  <p>Already have an account? <%= link_to "Log in", login_path %></p>
</div>
