<div class="row">
  <div class="text-center">
    <h3>Comments (<%= @post.comments.count %>)</h3>
  </div>
</div>

<% if @comments.any? %>
  <ol>
    <%= render @comments %>
  </ol>

  <div class="pagination">
    <%= will_paginate @comments %>
  </div>
<% end %>
