<li id="section-<% section.id %>">
  <div class="section">
    <% if section.title? %>
      <div class="h2 title"><%= section.title %></div>
    <% end %>
    <div>
      <% if section.picture? %>
        <figure class="image">
          <%= image_tag section.picture.url, class: "img" %>
        </figure>
      <% end %>
      <%= section.body.html_safe %>
    </div>
  </div>
</li>
