<div class="section">
  <li id="section-<% section.id %>">
    <div class="h2 title"><%= section.title %></div>
    <div>
      <span><%= image_tag section.picture.url if section.picture? %>
      <span><%= section.body.html_safe %></span>
    </div>
  </li>
</div>
