<li id="post-<% post.id %>">

  <!-- insert image -->
  <span class="h3 title"><%= post.title %></span>
  <span class="timestamp">
    <%= post.created_at.to_date.to_formatted_s :long %>
  </span>
  <!-- insert section preview -->
  <span class="preview"><%= link_to "read more", post %></span>
</li>
