<li id="post-<% post.id %>">

  <!-- insert image -->
  <span class="h2 title"><%= post.title %></span>
  <span class="timestamp">
    <%= post.created_at.to_date.to_formatted_s :long %>
  </span>
  <span class="preview">
    <%= truncate post.sections.first.body, length: 250 %>
    <%= link_to 'more', post %>
  <span>

</li>
