<li id="post-<% post.id %>">

  <!-- insert image -->
  <span class="h2 title"><%= link_to post.title, post %></span>
  <span class="timestamp">
    <%= post.created_at.to_date.to_formatted_s :long %>
  </span>
  <span class="preview">
    <%= sanitize(post.body.truncate(250)) %>
  <span>

</li>
