<li id="post-<% post.id %>">
  <span class="h2 title"><%= link_to post.title, post %></span>
  <span class="timestamp">
    <%= post.created_at.to_date.to_formatted_s :long %>
  </span>
  <div class="preview">
    <% if post.picture? %>
      <div class= "image">
        <%= image_tag post.picture.url(:medium), class: "img" %>
      </div>
    <% end %>
    <div class="text">
      <%= sanitize(post.body.truncate(300)) %>
    </div>
  </div>
</li>
