<li class="control-group nested-fields">
  <div class="controls">
    <%= link_to_remove_association "remove", f, class: 'admin-links' %>
    <%= f.text_area :body, class: 'form-control', placeholder: "section body" %>
  </div>
</li>
