<% if @posts.current_page == 1 %>
<div class="jumbotron welcome">
  <div class="content col-md-10 col-lg-9 col-sm-11 centered">
    <h1>Welcome to <span class="logo">Rig</span></h1>
    <h2>Create.</h2>
  </div>
</div>
<% end %>

<div class="posts">
  <%= render 'shared/posts' %>
</div>
