<% provide(:title, "Pending posts") %>
<h1 class="centered text-center">Pending posts</h1>

<% if logged_in? && current_user.admin? %>
  <div class="admin-links">
    <%= link_to "create post", new_post_path %>
  </div>
<% end %>


<div class="posts">
  <%= render 'shared/posts' %>
</div>
