@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$gray-light: #888888;
$primary: hsl(215, 75%,  58%);
$amount: 8%;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* reset stylesheets */

* {
  margin: 0;
  padding: 0;
}

/* universal */

body {
  padding-top: 60px;
}

.control-group {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  border: none;
  text-decoration: none;
  border-radius: 3px;
  outline: none !important;
  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  box-shadow: none !important;
  border-radius: 3px;
}

.page-content {
  max-width: 1024px;
  margin: auto;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  line-height: 1.4em;
  // margin: 0;
}

/* header */

#logo {
  float: left;
  margin-right: 1rem;
  font-size: 1.7em;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: lighten($primary, $amount);
    text-decoration: none;
  }
}

.navbar-right {
  ul {
    float: right;
    li {
      float: left;
    }
  }
  .dropdown-menu {
    li {
      float: none !important;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.field-group {
  margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 5px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  ul {
    -webkit-padding-start: none;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .pagination {
    text-align: center;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.admin-links {
}

::-webkit-input-placeholder {
color: $gray-light !important;
}

::-moz-placeholder { /* Firefox 18- */
color: $gray-light !important;
}b

:-moz-placeholder {  /* Firefox 19+ */
color: $gray-light !important;
}

:-ms-input-placeholder {
color: $gray-light !important;
}

/* posts index */

.posts {
  list-style: none;
  padding: 0px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    margin-top: 5em;
    padding-top: 0;
    a {
      color: inherit;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-bottom: 5px;
  }
  .preview {
    display: flex;
    -webkit-flex-direction: row;
    .image {
      width: 30%;
      margin-right: 10px;
    }
    .img {
      width: 100%;
    }
    .text {
      width: 100%;
    }
  }
}

/* post show */

.post {
  list-style: none;
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
  }
  .post-header {
    margin-bottom: 15px;
  }
  .body {
    margin-bottom: 15px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .section {
    margin-bottom: 15px;
    .title {
      margin-top: 0px;
      margin-bottom: 15px;
    }
    .image {
      margin-bottom: 15px;
      .img {
        width: 80%;
        margin: auto;
      }
    }
  }
  .labels {
    color: $gray-light;
    display: block;
    margin-bottom: 5px;
  }
  .image {
    width: 100%;
  }
}

/* labels index */

.labels {
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-medium-light;
  li {
    padding: 10px 0;
  }
}

/* comments */

.comments {
  margin-top: 15px;
  h4 {
    margin-bottom: 0px;
  }
  h3 {
    margin: 15px 0;
  }
  .timestamp {
    margin-bottom: 5px;
  }
  ol {
    list-style: none;
    li {
      margin: 15px 0;
    }
  }
}
