@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-Light: #eaeaea;
$gray-Light: #888888;
$primary: hsl(215, 75%,  58%);
$amount: 8%;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* reset stylesheets */

* {
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
}
body {
  font-family: 'Raleway', Helvetica, sans-serif;
}


/* universal */

body {
  padding-top: 60px;
  font-size: 16px;
}

.control-group {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  border: none;
  text-decoration: none;
  border-radius: 3px;
  outline: none !important;
  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $primary;
  &:focus {
    box-shadow: none;
    background-color: $primary;
  }
  &:hover {
    background-color: lighten($primary, $amount);
  }
  &:active {
    background-color: darken($primary, $amount);
  }
}

.form-control {
  box-shadow: none !important;
  border-radius: 3px;
  font-size: inherit;
}

.text-md-right {
  text-align: left;
}
.text-md-center {
  text-align: left;
}
@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
}

.text-sm-right {
  text-align: left;
}
.text-sm-center {
  text-align: left;
}
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
}


.centered{
    float: none;
    margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.jumbotron {
  h1 {
    color: white;
  }
  h2 {
    font-size: 20px;
    color: white;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  color: $gray-Light;
}

/* header */

#logo {
  float: left;
  margin-right: 1rem;
  font-size: 1.7em;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  height: auto;
  padding-top: 6px;
  &:hover {
    color: lighten($primary, $amount);
    text-decoration: none;
  }
  &:active {
    color: darken($primary, $amount);
  }
}

.navbar {
  border-bottom: 1px solid darken(#222, $amount);
}

.navbar-right {
  ul {
    float: right;
    li {
      float: left;
    }
  }
  .dropdown-menu {
    li {
      float: none !important;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-Light;
  color: $gray-Light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* welcome */

.background_image {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), image-url('welcome-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: -10px -15px 0;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.form {
  max-width: 500px;
}

.field-group {
  margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 5px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  ul {
    -webkit-padding-start: none;
  }
  li {
    border-bottom: 1px solid #e8e8e8;
    overflow: auto;
    padding: 10px 0;
  }
  .pagination {
    text-align: center;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

::-webkit-input-placeholder {
color: $gray-Light !important;
}

::-moz-placeholder { /* Firefox 18- */
color: $gray-Light !important;
}b

:-moz-placeholder {  /* Firefox 19+ */
color: $gray-Light !important;
}

:-ms-input-placeholder {
color: $gray-Light !important;
}

/* posts index */

.posts {
  list-style: none;
  padding: 0px;
  .title {
    margin-top: 5em;
    padding-top: 0;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: #428bca;
      }
    }
  }
  .timestamp {
    color: $gray-Light;
    display: block;
    padding-bottom: 16px;
  }
  li {
    display: flex;
    -webkit-flex-direction: row;
    padding: 2em 0;
    border-top: 1px solid #e8e8e8;
    &:nth-child(1) {
      border-top: none;
    };
    .img {
      max-width: 100%;
    }
    .labels {
      padding: 0px;
    }
    .body {
      padding-bottom:16px;
    }
  }
}

/* post show */

.post {
  list-style: none;
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
  }
  .post-header {
    margin-bottom: 1em;
  }
  .body {
    margin-bottom: 2em;
  }
  .timestamp {
    color: $gray-Light;
    display: block;
  }
  .section {
    margin-bottom: 1em;
    .title {
      margin-top: 0px;
      margin-bottom: 16px;
      font-weight: normal;
    }
    .image {
      margin-bottom: 1.4em;
      margin-left: auto;
      margin-right: auto;
      .img {
        width: 100%;
        margin: auto;
      }
    }
  }
  .labels {
    margin: 1.4em 0px;
  }
  .float-right {
    float: right;
  }
  .image-container {
    max-width: 768px;
    .image {
      width: 100%;
    }
  }
  .post-body {
    max-width: 660px;
  }
  li {
    &:last-child {
      padding-bottom: .5em;
    }
  }
}

/* labels index */

.labels {
  list-style: none;
  padding-bottom: 15px;
  li {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
  }
  a {
    color: $gray;
    padding: 3px;
    border: none;
    border-radius: 1px;
    background-color: #eee;
    &:hover {
      text-decoration: none;
      background-color: darken(#eee, $amount);
      color: darken($gray, $amount);
    }
    &:active {
      text-decoration: none;
      background-color: darken(#eee, 2 * $amount);
      color: darken($gray, 2 * $amount);
    }
    &:focus {
      text-decoration: none;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  max-width: 500px;
  word-wrap: break-word;
  .author {
    color: green;
  }
  .comment-form {
    max-width: 400px;
  }
  .centered {
    padding: 0;
  }
  .timestamp {
    color: $gray-Light;
  }
  .row {
    padding: 0px;
    width: 100%;
    height: auto;
    .row {
      border-top: 1px solid #e8e8e8;
      margin: 0;
      padding: 1.4rem 0px;
      p {
        margin: 0;
      }
    }
  }
  h4 {
    margin-bottom: 0px;
  }
  h3 {
    margin: 1.4em 0;
  }
  li {
    -webkit-flex-direction: row;
    display: flex;
  }
}
