@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-light: #888888;
$yellow-light: hsl(51, 90%, 87%);
$red: #d74d2f;
$blue: hsl(215, 75%,  58%);

$primary: $red;
$amount: 8%;
$border-color: #e8e8e8;
$label-background: hsl(0, 0%, 98%);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin background_cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin default_list {
  list-style: initial;
  margin-left: 20px;
  padding-bottom: initial;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* reset stylesheets */

* {
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
}
li {
  -webkit-padding-start: 0;
}


/* universal */

.Site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  padding: 65px 15px 0;
}

body {
  font-size: 16px;
  font-family: 'OpenSans', Helvetica, sans-serif;
  color: rgba(0,0,0,.8);
}

.control-group {
  list-style: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  border: none;
  text-decoration: none;
  border-radius: 2px;
  outline: none !important;
  &:focus {
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $primary;
  &:focus {
    box-shadow: none;
    background-color: $primary;
  }
  &:hover {
    background-color: lighten($primary, $amount);
  }
  &:active {
    background-color: darken($primary, $amount);
  }
}

.form-control {
  box-shadow: none !important;
  border-radius: 2px;
  font-size: inherit;
}

.text-md-right {
  text-align: left;
}
.text-md-center {
  text-align: left;
}
@media (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
}

.text-sm-right {
  text-align: left;
}
.text-sm-center {
  text-align: left;
}
@media (min-width: 768px) {
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
}

.centered{
  float: none;
  margin: 0 auto;
}

.float-right {
  float: right;
}

figure {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  color: $gray-light;
}

/* header */

#logo {
  float: left;
  margin-right: 1rem;
  font-size: 2em;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  padding-top: 3px;
  &:hover {
    color: lighten($primary, $amount);
    text-decoration: none;
  }
  &:active {
    color: darken($primary, $amount);
  }
}

.navbar-right {
  ul {
    float: right;
    li {
      float: left;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .dropdown-menu {
    li {
      float: none !important;
    }
  }
}


/* footer */

footer {
  margin-top: 60px;
  padding-top: 5px;
  padding: 0;
  width: 100%;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    line-height: 1;
    li {
      float: left;
    }
  }
}

/* welcome */

.welcome {
  background-color: $gray-darker;
  margin: -15px -15px 0;
  display: flex;
  flex-direction: column-reverse;
  min-height: 400px;
  .content {
    max-width: 1270px;
  }
  .logo {
    color: $primary;
    text-transform: uppercase;
  }
}

.jumbotron {
  h1 {
    font-size: 4em;
    color: #444;
    margin-bottom: 10px;
    text-align: left;
  }
  h2 {
    font-size: 1.4em;
    color: #888;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  vertical-align: top;
}

.gravatar_edit {
  margin-top: 15px;
}

/* static pages */

.static-page {
  max-width: 992px;
  margin: auto;
}

/* forms */

.form {
  max-width: 500px;
}

.field-group {
  margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 5px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  ul {
    -webkit-padding-start: 0;
  }
  li {
    border-bottom: 1px solid $border-color;
    overflow: auto;
    padding: 10px 0;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  overflow: visible;
  @include box_sizing;
}

::-webkit-input-placeholder {
color: $gray-light !important;
}

::-moz-placeholder { /* Firefox 18- */
color: $gray-light !important;
}b

:-moz-placeholder {  /* Firefox 19+ */
color: $gray-light !important;
}

:-ms-input-placeholder {
color: $gray-light !important;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  ul {
    // margin: auto;
    float: right;
  }
  ul > li {
    border-top: none;
  }
  li > a {
    color: $red;
    &:hover {
      background-color: $red;
      color: white;
      border-color: $red;
    }
  }
  .disabled > a {
    color: #ccc !important;
  }
  .active > a {
    background-color: $red !important;
    color: white !important;
    border-color: $red !important;
  }
}

/* posts index */

.posts {
  list-style: none;
  padding: 0px;
  .title {
    margin-top: 0;
    padding-top: 0;
    a {
      font-size: 1.2em;
      color: inherit;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    padding-bottom: 16px;
  }
  li {
    max-width: 1270px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    border-top: 1px solid $border-color;
    padding: 1em 0;
    &:nth-child(1) {
      border-top: none;
    }
    .img {
      max-width: 100%;
    }
    .labels {
      padding: 0px;
    }
    .body {
      line-height: 1.6;
      font-size: 18px;
    }
    .row-fluid {
      width: 100%;
    }
    @media (max-width: 768px)  {
      max-width: 500px;
      margin: auto;
    }
    figure {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    .content {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
  .body li {
      @include default_list;
  }
}

/* post show */

.post {
  margin-bottom: 60px;
  h1 {
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
  }
  h2 {
    font-size: 3em;
  }
  .post-header {
    font-size: 16px;
    margin-bottom: 2em;
  }
  .body {
    padding-bottom: 2em;
  }
  .post-body {
    margin-bottom: 2em;
    max-width: 660px;
    .body ul > li {
      @include default_list;
    }
    p {
      line-height: 1.6;
      font-size: 18px;
      margin-bottom: 1em;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-bottom: 1.6em;
  }
  .sections {
    list-style: none;
  }
  .section {
    margin-bottom: 1em;
    .title {
      font-size: 2.5em;
      margin-top: 0px;
      margin-bottom: 2rem;
    }
    .image {
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      .img {
        max-width: 100%;
        margin: auto;
      }
      figcaption {
        font-style: italic;
        color: $gray-light;
      }
    }
    .body ul > li {
      @include default_list;
    }
    .section-body ul > li {
      @include default_list;
    }
  }
  .labels {
    margin: 1.4em 0px;
  }
  .image-container {
    max-width: 768px;
    .image {
      max-width: 100%;
    }
    figcaption {
      font-style: italic;
      color: $gray-light;
    }
  }
  ul > li {
    list-style: none;
    padding-bottom: 2em;
  }
  footer {
    font-size: 16px;
  }
}


.unpublished {
  color: $red;
  font-style: italic;
  text-transform: uppercase;
}

/* labels index */

.labels {
  list-style: none;
  padding-bottom: 15px;
  li {
    border-bottom: 1px solid $border-color;
    padding: 10px 0;
  }
  a {
    color: $gray;
    padding: 5px 8px;
    margin-right: 2px;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $label-background;
    font-size: 14px;
    &:hover {
      text-decoration: none;
      background-color: darken($label-background, $amount);
      color: darken($gray, $amount);
      border-color: darken($border-color, $amount);
    }
    &:active {
      text-decoration: none;
      background-color: darken($label-background, 2 * $amount);
      color: darken($gray, 2 * $amount);
      border-color: darken($border-color, 2 * $amount)
    }
    &:focus {
      text-decoration: none;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  word-wrap: break-word;
  .author {
    a {
      color: green;
    }
  }
  .comment-form {
    max-width: 400px;
  }
  .centered {
    padding: 0;
  }
  .timestamp {
    color: $gray-light;
  }
  .missing_user {
    text-decoration: line-through;
    color: $gray-light;
  }
  h4 {
    margin-bottom: 0px;
  }
  h3 {
    margin: 1.4em 0;
  }
  #error_explanation {
    max-width: 400px;
    margin: auto;
  }
  li {
    max-width: 500px;
    margin:auto;
    display: flex;
    -webkit-flex-direction: row;
    .row-fluid {
      border-top: 1px solid $border-color;
      width: 100%;
      margin: 0;
      padding: 1.4em 0px;
      p {
        margin: 0;
      }
    }
  }
}
