<footer class="footer container-fluid navbar-default">
  <small>
    <!-- This is a footer -->
  </small>
  <nav class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
